<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Flip7's sensor rate for ARCore's 5 ms request exceeds the unprivileged cap. -->
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <uses-permission android:name="android.permission.INTERNET" tools:node="remove" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="true" />
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    <application android:label="Lechigo Recorder" android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:allowBackup="false" android:supportsRtl="true">
        <meta-data android:name="com.google.ar.core" android:value="required" tools:replace="android:value" />
        <activity android:name=".RecorderActivity" android:exported="true" android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
